.describe{
    margin: auto;
    max-width: 1440px;
    text-align: center;
    padding: 4em 20em;
}

.describe__title{
    font-weight: 600;
    color: var(--cor-vermelho);
    margin-bottom: 2em;
}

.describe__text-center-bold{
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 0.5em;
}

.describe__text{
    font-size: 20px;
    color: var(--cor-cinza);
    line-height: 30px;
}

.metricas{
    max-width: 1440px;
    display: flex;
    margin: auto;
    padding: 4em 6em;
    justify-content: space-evenly;
}

.metricas__numeros{
    font-size: 60px;
    font-weight: 600;
    color: var(--cor-vermelho)
}

.metricas__titulo{
    font-size: 18px;
    font-weight: 500;
    margin: 1em 0;
}

.metricas__text{
    color: var(--cor-cinza);
    line-height: 24px;
}

.metricas__projetos, 
.metricas__colaboradores, 
.metricas__downloads, 
.metricas__reviews{
    flex: 1;
    max-width: 22%;
}

.vagas-abertas{
    max-width: 1440px;
    text-align: center;
    margin: 6em auto;
}

.vagas-abertas__name{
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    color: var(--cor-vermelho);
    background-color: var(--cor-cinza-claro);
    padding: 0.3em 1em;
    border-radius: 16px;
}

.vagas-abertas__titulo{
    font-weight: 600;
    font-size: 36px;
    padding: 0.8em 0;
}

.vagas-abertas__texto{
    font-size: 20px;
    color: var(--cor-cinza);
    margin-bottom: 2.5em;
}

.vagas-abertas__img{
    width: 80%;
}


.vagas{
    width: 60%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
}

.vagas__areas{
    
}

.vagas__areas-nome{
    font-weight: 500;
    font-size: 20px;
    margin: 2em 0;
    padding-left: 1.5em;
}

.vagas__area-cargo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 768px;
    border: 1px solid var(--cor-cinza);
    border-radius: 16px;
    padding: 2em 1em;
    margin: 1.5em;
}

.vagas__area-cargo-nome{
    font-weight: 500;
    padding-bottom: 2em;
}

.vagas__area-tipo, .vagas__area-salario{
    color: var(--cor-cinza);
    font-weight: 500;
}


.colaboradores{
    width: 80%;
    margin: 4em auto;
    background: rgba(196, 25, 25, 0.03);
    text-align: center;
    padding: 2em;
    border-radius: 16px;
}

.colaboradores__title{
    font-weight: 600;
    font-size: 14px;
    color: var(--cor-vermelho);
}

.colaboradores__text{
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    margin: 1em 0;
}

.colaboradores__avatar{
    margin-bottom: 2em;
}

.colaboradores__avatar-nome{
    font-weight: 500;
    margin-bottom: 0.5em;
}

.colaboradores__avatar-cargo{
    font-size: 14px;
    color: var(--cor-cinza);
}


.rodape{
    background: #F9FAFB;
    text-align: center;
    padding: 4em;
}

.rodape__title{
    font-weight: 600;
    font-size: 36px;
}

.rodape__text{
    font-size: 20px;
    color: var(--cor-cinza);
    margin-top: 1.5em;
}

.rodape__cadastro{
    margin: 2em 0;
}

.rodape__cadastro-email{
    background: var(--branco);
    border: 1px solid #D0D5DD;
    color: var(--branco);
    border-radius: 8px;
    padding: 1em;
    width: 22%;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    margin-right: 1em;
}


.rodape__copy{
    color: var(--cor-cinza);
}