.describe{
    margin: auto;
    max-width: 1440px;
    text-align: center;
    padding: 4em 20em;
}

.describe__title{
    font-weight: 600;
    color: var(--cor-vermelho);
    margin-bottom: 2em;
}

.describe__text-center-bold{
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 0.5em;
}

.describe__text{
    font-size: 20px;
    color: var(--cor-cinza);
    line-height: 30px;
}

.metricas{
    max-width: 1440px;
    display: flex;
    margin: auto;
    padding: 4em 6em;
    justify-content: space-evenly;
}

.metricas__numeros{
    font-size: 60px;
    font-weight: 600;
    color: var(--cor-vermelho)
}

.metricas__titulo{
    font-size: 18px;
    font-weight: 500;
    margin: 1em 0;
}

.metricas__text{
    color: var(--cor-cinza);
    line-height: 24px;
}

.metricas__projetos, 
.metricas__colaboradores, 
.metricas__downloads, 
.metricas__reviews{
    flex: 1;
    max-width: 22%;
}

.vagas-abertas{
    max-width: 1440px;
    text-align: center;
    margin: auto;
    margin: 6em 0;
}

.vagas-abertas__name{
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    color: var(--cor-vermelho);
    background-color: var(--cor-cinza-claro);
    padding: 0.3em 1em;
    border-radius: 16px;
}

.vagas-abertas__titulo{
    font-weight: 600;
    font-size: 36px;
    padding: 0.8em 0;
}

.vagas-abertas__texto{
    font-size: 20px;
    color: var(--cor-cinza);
    margin-bottom: 2.5em;
}

.vagas-abertas__img{
    width: 80%;
}