@import url(../styles/sobre-nos.css);
@import url(../styles/header.css);

:root{
    --font-principal: 'Inter', sans-serif;
    --cor-de-fundo-principal: #FFFFFF;
    --cor-logo-nome: #3A404E;
    --cor-cinza: #667085;
    --cor-vermelho: #8E2424;
}

body{
    background-color: var(--cor-de-fundo-principal);
    font-family: var(--font-principal);
    font-size: 16px;
    font-weight: 400;
}